<div class="modal-header py-2 align-items-start">
    <div class="modal-title">
        <h4 class="mb-0 py-0 pt-1 lh-sm text-muted">{{ticker}}</h4>
    </div>
    <a type="button" class="btn btn-link text-decoration-none text-dark py-0 pe-0" aria-label="Close" (click)="activeModal.dismiss(false)"><i class="bi bi-x"></i></a>
</div>
<div class="modal-body">
    <p class="my-0 lh-sm py-0">Current Price: ${{price.toFixed(2)}}</p>
    <p class="my-0 lh-sm py-0">Money in Wallet: ${{funds.toFixed(2)}}</p>
    
    <p class="my-0 lh-sm py-0">Quantity:&nbsp;
            <input type="number" class="d-inline form-control form-control-sm w-50" id="quantity" name="quantity" [formControl]="quantity" min="0">
    </p>
    <p class="mt-2 mb-0 lh-sm py-0 text-danger" *ngIf="error && error!='ERROR'">{{error}}</p>
</div>
<div class="modal-footer justify-content-between py-1">
    <p class="my-0 lh-sm py-0">Total: ${{total.toFixed(2)}}</p>
    <button type="button" class="btn btn-success btn-sm" (click)="transact()" [disabled]="error || quantity.value == 0">{{buy ? 'Buy' : 'Sell'}}</button>
</div>
