<div class="container text-center">
    <h1 class="text-uppercase fw-bold mb-3 opacity-75">{{title}}</h1>
    <form (ngSubmit)="onSubmit(); trigger.closePanel();" (reset)="onReset(); trigger.closePanel();">
        <div class="input-group input-group-sm search-bar my-0 mx-auto rounded-pill border-2-purple">
            <input type="text" class="form-control pt-0 pb-0 ms-2 border-0 rounded-pill" id="ticker" name="ticker"
                [matAutocomplete]="auto" [formControl]="ticker" placeholder="Enter stock ticker symbol"
                autocomplete="off" #trigger="matAutocompleteTrigger" required>
            <mat-autocomplete class="ms-2" #auto="matAutocomplete" (optionSelected)="onSubmit(); trigger.closePanel();">
                <mat-option *ngIf="loadingSubject | async">
                    <mat-spinner mode="indeterminate" diameter="30"></mat-spinner>
                </mat-option>
                <mat-option *ngFor="let suggestion of results" [value]="suggestion.symbol">
                    {{suggestion.displaySymbol}} <span class="small text-muted">| {{suggestion.description}}</span>
                </mat-option>
            </mat-autocomplete>
            <span class="input-group-text bg-transparent border-0 pt-0 pb-0">
                <button class="btn pt-0 pb-1 ps-1 pe-0" type="submit">
                    <i class="bi bi-search"></i>
                </button>
                <button class="btn pt-0 pb-1 ms-2 ps-1 pe-2" type="reset">
                    <i class="bi bi-x-lg"></i>
                </button>
            </span>
        </div>
    </form>
    <div class="container mt-4" *ngIf="errors">
        <ngb-alert [type]="'danger'" (closed)="errors=false">Please enter a stock to search!</ngb-alert>
    </div>
</div>