img.logo{
    width: 80px;
    height: auto;
}

span.summary-price{
    display: inline-block;
    width: 80px;
}

.card-body img{
    width: 120px !important;
    height: 80px !important;
    max-width: 120px !important;
    max-height: 80px !important;
    min-width: 120px !important;
    min-height: 80px !important;
}

.sentiments-table{
    max-width: 500px;
}

.cursor-pointer{
    cursor: pointer !important;
}

a.hover-underline:hover{
    text-decoration: underline !important;
}

.fav-color{
    color: #fbd700;
}

@media screen and (max-width: 767px) {
    img.logo{
        min-width: 40px;
        max-width: 75%;
    }

    h2.subtitle{
        font-size: 1rem;
    }

    div.summary-container{
        text-align: center;
    }

    .card-body{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .card-body img{
        width: 100% !important;
        height: 67% !important;
        max-width: 100% !important;
        max-height: 67% !important;
        min-width: 100% !important;
        min-height: 67% !important;
        margin-bottom: 5px !important;
    }
}