/******************** 
    COLOR: #af9453
    WIDTH: 1400px
    FONTS: Roboto, EB Garamond
*********************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 1000px;
    margin: 0 auto;
}

.header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 1000px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.navbar{
    padding: 20px 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.navbar .logo{
    padding-left: 45px;
    color: #af9453;
    font-weight: 400;
    /* border: 1px solid black; */
}

.navbar .nav{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    /* border: 1px solid black; */
}

.navbar .nav .nav-item{
    margin: 0px 20px;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link.active{
    color: #af9453;
}

.nav-link:hover{
    color: #af9453;
    transition: 0.2s all ease-in;
}

.hero .hero-img{
    width: 1000px;    
    position: fixed;
    z-index: -100;
    top: -150px;
}

.hero .hero-tagline{
    padding-top: 25vh;
    padding-bottom: 25vh;
    text-align: center;
    font-size: 52px;
    color: white;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    letter-spacing: 15px;
    line-height: 1.5;
}

.services{
    background-color: white;
    padding: 30px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.primary-card{
    background-color: #af9453;
    width: 30%;
    padding: 85px 15px;
}

.primary-card .card-title{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 12px;
    margin-right: -12px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 400;
}

.primary-card .card-icon{
    display: block;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.primary-card .card-text{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: white;
    letter-spacing: 3px;
    line-height: 2;
    margin-bottom: 50px;
}

.primary-card .card-button{
    display: block;
    margin: 0 auto;
    width: 75%;
    padding: 10px 0;
    background-color: #af9453;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.service-img{
    margin-left: 30px;
    width: 650px;
    height: 450px;
}

.service-img img{
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.testimonial{
    background-color: white;
    padding: 60px 40px;
}

.secondary-card{
    width: 50%;
    margin: 0 auto;
}

.secondary-card .glyph{
    display: block;
    margin: 0 auto;
}

.secondary-card .card-text{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.5;
}

.secondary-card .card-footer{
    font-family: 'Roboto', sans-serif;
    color: #af9453;
    font-weight: 400;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

.gallery{
    background-image: url('./assets/image2.png');
    background-attachment: fixed;
    background-position: center;
    border: 30px solid white;
    background-repeat: no-repeat;
    background-size: fill;
}

.gallery .primary-card{
    margin-right: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 30px;
}

.footer-container{
    background-color: white;
    padding: 30px;
}

.footer{
    background-color: #af9453;
    color: white;
    padding: 40px 60px;
    display: flex;
    flex-flow: row nowrap;
}

.footer-left{
    display: flex;
    flex-flow: row nowrap;
}

.footer-left div{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.75px;
    line-height: 1.25;
}

.footer-left .contact{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.button{
    display: block;
    margin: 0 auto;
    margin-left: 90px;
    margin-top: 15px;
    /* width: 25%; */
    padding: 10px 30px;
    background-color: #af9453;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}